
.nav_container {
    background-color: #419cc9b4 ;
    color: #f9dba0;
    display: flex;
    justify-content: space-around;
    padding: 13px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    align-items: center;
}
  
/*AQUI ESTAN TODAS LAS ROUTAS NAVLINKS
ABOUT - HOME - FAVORITES - LOGOUT*/

  .nav_links a {
    color: #8ac113;
    text-decoration: none;
    padding-right: 20px;
    font-family: "getschwifty";
    font-size: 25px;
    -webkit-text-stroke: 0.001px #ffffff54;
    text-shadow: 1px 1px 1px #ffffff;
  }
  
  .nav_links a:last-child {
    margin-right: 0;
  }
  
  .nav_search {
    display: flex;
    align-items: center;
  }
  
  .nav_search input[type="search"] {
    border: none;
    background-color: #555;
    color: #fff;
    padding: 8px;
    border-radius: 20px;
    font-size: 1em;
  }
  
  .nav_search button[type="submit"] {
    border: none;
    background-color: #fff;
    color: #333;
    padding: 8px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  /* .nav_search button[type="submit"]:hover {
    background-color: #eee;
  } */


  .is_active {
    font-weight: bold;
    pointer-events: none;
  }


  /*------------------*/
  /*------------------*/